<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>ChatBot</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.0/css/all.min.css'><link rel="stylesheet" href="/static/style.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="/static/chatbot.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<!-- partial:index.partial.html -->
<html>

<head>
	<title>ChatBot</title>
</head>

<body>
	<!-- <img src="HAUS.png" class="haus" alt=""> -->
	<div id="phone-wrapper">
		<div id="app">
			<div id="landing" class="bg-dark text-light">
				<span class="fas fa-robot fa-4x"></span>
				<div>
					<h1 class="mt-3">ChatBot</h1>
				</div>
				<form id="form-start">
					<input type="text" name="username" id="username" value="" placeholder="Your name" required>
					<button type="submit" id="start-chat">Start chat</button>
				</form>
			</div>
			<div id="header" class="bg-dark">
				<div><button id="back-button" class="text-light btn-transparent btn-icon fas fa-arrow-left"></button></div>
				<div class="text-light align-center">
					<h2>ChatBot</h2>
				</div>
				<div>
					<button id="nav-icon" class="text-light btn-transparent btn-icon fas fa-bars"></button>
					<nav id="nav-container" style="display: none;">
						<ul class="nav">
							
							<li id="clear-history" class="nav-link"><span class="fas fa-trash-alt"></span>Clear history</li>
							
							<hr>
							<li id="sign-out" class="nav-link"><span class="fas fa-sign-out-alt"></span>Sign out</li>
						</ul>
					</nav>
				</div>
			</div>
			<div id="message-board">


			</div>
			<div id="form" class="bg-light">
				<div id="emoijis" style="display: none;">
					<button class="smiley btn-transparent btn-icon"><span class="far fa-grin-beam"></span></button>
					<button class="smiley btn-transparent btn-icon"><span class="far fa-grin"></span></button>
					<button class="smiley btn-transparent btn-icon"><span class="far fa-grin-wink"></span></button>
					<button class="smiley btn-transparent btn-icon"><span class="far fa-grin-tongue"></span></button>
					<button class="smiley btn-transparent btn-icon"><span class="far fa-grin-tongue-wink"></span></button>
					<button class="smiley btn-transparent btn-icon"><span class="far fa-kiss-wink-heart"></span></button>
					<button class="smiley btn-transparent btn-icon"><span class="far fa-grin-hearts"></span></button>
					<button class="smiley btn-transparent btn-icon"><span class="far fa-surprise"></span></button>
					<button class="smiley btn-transparent btn-icon"><span class="far fa-angry"></span></button>
					<button class="smiley btn-transparent btn-icon"><span class="far fa-tired"></span></button>
					<button class="smiley btn-transparent btn-icon"><span class="far fa-sad-tear"></span></button>
					<button class="smiley btn-transparent btn-icon"><span class="far fa-grin-squint-tears"></span></button>
					<button class="smiley btn-transparent btn-icon"><span class="far fa-sad-cry"></span></button>
					<button class="smiley btn-transparent btn-icon"><span class="far fa-dizzy"></span></button>
				</div>
				<div><button id="emoi" class="btn-transparent btn-icon far fa-grin"></button></div>
				<!-- <div id="message" placeholder="Type your message here" rows="1" contenteditable></div> -->
				<img src="/static/HAUS.png" class="haus" alt="">
				<!-- <h1 class="jumbotron text-center" style="background-color: rgb(144, 62, 221);">AI Chatbot with Python</h1> -->
		   <div class="container">
			   <div class="row">
				   <div class="col-sm-6 offset-sm-3">
					   <div id="chatbox" class="border border-success">
						   <p class="botText"><span>Hi! I'm Chatterbot. To search random things,you can call me as "tell me about __"</span></p>
					   </div>
					   <div id="userInput">
						   <input id="textInput" class="form-control" type="text" name="msg" placeholder="Type Your Message Here">
						   <input id="buttonInput" class="btn btn-success form-control" type="submit" value="Send"> 
					   </div>
				   </div>
			   </div> 
		   
			<script>
			   function getResponse() {
				   let user_response = $("#textInput").val();
				   let userHtml = '<p class="userText"><span>' + user_response + '</span></p>';
				   $("#textInput").val("");
				   $("#chatbox").append(userHtml);
				   document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
				   $.get("/get", { msg: user_response }).done(function(data) {
				   var botHtml = '<p class="botText"><span>' + data + '</span></p>';
				   $("#chatbox").append(botHtml);
				   document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
		   });
		   }
			   $("#textInput").keypress(function(e) {
			   //if enter key is pressed
				   if(e.which == 13) {
					   getResponse();
				   }
			   });
			   $("#buttonInput").click(function() {
				   getResponse();
			   });
			   </script>
			   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
			   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
			   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		   </div>
				<div><button id="send" type="" class="btn-transparent btn-icon fas fa-paper-plane"></button></div>
			</div>
		</div>
	</div>

</body>

</html>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script><script  src="/static/script.js"></script>

</body>
</html>
