.haus{
	height: 20vh;
	display:flex;
	position: absolute;
	right: 20px;
	top: 10px;
}



html {
	font-family: Arial, sans-serif;
	font-size: 16px;
	
}

body {
	min-height: 100vh;
	background-image: url('1.png');
	background-position: cover;

	
}

#textInput {
    border: none;
    border-bottom: 3px solid aqua;
}

.userText {
    color: rgb(234, 233, 240);
    font-family: monospace;
    font-size: 17px;
    text-align: right;
    line-height: 30px;
}
.userText span {
    background-color: #009688;
    padding: 10px;
    border-radius: 2px;
}
.botText {
    color: white;
    font-family: monospace;
    font-size: 17px;
    text-align: left;
    line-height: 30px;
}
.botText span {
    background-color: #EF5350;
    padding: 10px;
    border-radius: 2px;
}
