.haus{
	height: 20vh;
	display:flex;
	position: absolute;
	right: 20px;
	top: 10px;
}



html {
	font-family: Arial, sans-serif;
	font-size: 16px;
	
}

body {
	min-height: 100vh;
	background-image: url('1.png');
	background-position: cover;

	
}

h2,
h3 {
	margin: 0;
	padding: 0;
}



h2 {
	font-size: 1rem;
	font-weight: 400;
}

hr {
	margin: 15px 0;
}

.bg-dark {
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

.bg-light {
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

.text-light {
	color: #f0f0f0;
}

.align-center {
	text-align: center;
}

/*** NAV ***/

nav#nav-container {
	background: #801277;
	border-radius: 7px;
	color: #ffffff;
	padding: 15px;
	position: absolute;
	z-index: 1;
	right: 0;
	top: 0;
	box-sizing: border-box;
}

ul.nav {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-link {
	padding: 2px 0;
	margin: 8px 0;
	font-size: .9rem;
	position: relative;
	padding-left: 40px;
}

.nav-link > span {
	margin-right: 10px;
	position: absolute;
	left: 0;
}


a,
button,
.link,
.nav-link {
	cursor: pointer;
}

.btn-transparent {
	border: 0;
	background: 0;
}

.btn-icon {
	font-size: 1.5rem;
	width: 100%;
	color: #ffffff;
}

/**************************/

/*** Display fake phone ***/

/**************************/

#phone-wrapper {
	margin: 50px auto;
	/* background: url("https://cdn.pixabay.com/photo/2017/06/17/10/39/cell-phone-2411808_960_720.png") 0 0; */
	/*background: url("https://cdn.pixabay.com/photo/2017/06/17/10/39/cell-phone-2411808_960_720.png") -418px 0px;*/
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 363px;
	height: 720px;
	position: relative;
	overflow: hidden;
	
}

#app {
	background: linear-gradient(to bottom, #0c1d27, #2b3f63, #24383e);
	position: relative;
	top: 47px;
	left: 19px;
	height: 608px;
	width: 325px;
	display: grid;
	grid-template-rows: 50px 1fr auto;
}

/*** Start Chat overlay ***/

div#landing {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 15px;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	text-align: center;
}

span.fas.fa-robot {
	align-self: end;
}

input#username {
	font-size: 1.1rem;
	line-height: 2.5rem;
	text-align: center;
	border-radius: 5px;
	border: solid 1px #00000087;
	margin: 15px 0;
	width: 100%;
}

form#form-start {
	align-self: end;
}

#start-chat {
	background: #FF9800;
	border: none;
	padding: 15px 30px;
	font-size: 1.2rem;
	color: #ffffff;
	border-radius: 5px;
	width: 100%;
}

/********************/

/*** Main chat UI ***/

/********************/

#header,
#form {
	display: grid;
	grid-template-columns: 50px auto 50px;
	align-items: center;
}

#header {
	padding: 6px;
}

/* Conversation */

#message-board {
	display: grid;
	align-self: end;
	grid-auto-rows: minmax(min-content, max-content);
	padding: 5px 0;
	box-sizing: border-box;
	max-height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

.post {
	position: relative;
	margin: 4px 10px;
	padding: 10px;
	border-radius: 10px;
	font-size: .9rem;
	word-break: break-word;
}

.post-bot {
	justify-self: left;
	margin-right: 50px;
	background: rgba(163, 17, 231, 0.356);
	color: #ffffff;
	/*border-top-left-radius: 0;*/
}

.post-user {
	justify-self: right;
	margin-left: 50px;
	background: rgba(22, 16, 8, 0.432);
	color: #ffffff;
	/*border-top-right-radius: 0;*/
}

.post:after {
	content: '';
	position: absolute;
	right: -10px;
	top: 10px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top: 0;
}

.post-bot:after {
	left: -10px;
	border-right-color: rgba(163, 17, 231, 0.356);
	border-left: 0;
}

.post-user:after {
	right: -10px;
	border-left-color: rgba(22, 16, 8, 0.432);
	border-right: 0;
}

.timestamp {
	font-size: .6em;
	opacity: .4;
	margin: 5px 0 -5px;
	display: block;
}

/* Chat Form */

#form {
	padding: 6px;
	/*min-height: 40px;*/
	grid-template-rows: auto 1fr;
}

#emoijis {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	padding: 5px;
	grid-gap: 5px;
	margin-bottom: 5px;
}

#message {
	padding: 5px;
	font-size: 1rem;
	min-height: 25px;
	max-height: 25vh;
	overflow: auto;
	background: rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, 0.29);
	font-style: italic;
	outline: none;
	resize: none;
}

#form.focus {
	background: rgba(255, 152, 0, 0.1);
}

#message.focus {
	background: rgba(255, 255, 255, 0.5);
}

/* Custom Scrollbar */

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: hsl(231, 50%, 50%, 10%);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #b30000;
}

/***************/

/*** Credits ***/

/***************/

.credits {
	text-align: center;
	font-size: small;
	color: #b2b2b2;
}

.credits a {
	color: inherit;
}